<%- include("../includes/header.ejs", {title:"Borrowers - View All"}); %>

<h1>Borrowers</h1>
        <a href="/owner/add">Add New Borrower</a>
        <br />
        <br />

        <table border="1">
            <tr><th>Name</th><th>Phone</th><th>Debt to Income</th><th>Credit Score</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><%= result[i].name%></td>
                <td><%= result[i].phone %></td>
                <td><%= result[i].dti %>%</td>
                <td><%= result[i].score %></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/owner/edit/?owner_id=<%= result[i].owner_id %>'">Edit</button>
                    <form action="/owner/delete/" style="display:inline;">
                        <input type="hidden" name="owner_id" id="owner_id" value="<%= result[i].owner_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
        <br />
<a href="/"><< back</a>

<%- include("../includes/footer.ejs"); %>