<%- include("../includes/header.ejs", {title:"Propertyies - View All"}); %>

<h1>Properties</h1>
        <a href="/property/add">Add New Property</a>
        <br />
        <br />

        <table border="1">
            <tr><th>Address</th><th>Value</th><th>Liens</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><%= result[i].address%></td>
                <td><%= result[i].value %></td>
                <td><%= result[i].lien%></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/property/edit/?property_id=<%= result[i].property_id %>'">Edit</button>
                    <form action="/property/delete/" style="display:inline;">
                        <input type="hidden" name="property_id" id="property_id" value="<%= result[i].property_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
        <br />
<a href="/"><< back</a>

<%- include("../includes/footer.ejs"); %>