<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/about">About</a>
    <br />
    <a href="loan/all">Loans</a>
    <br />
    <a href="investor/all">Investors</a>
    <br />
    <a href="owner/all">Borrowers</a>
    <br />
    <a href="property/all">Properties</a>
  </body>
</html>
