<%- include("../includes/header.ejs", {title:"Loans - View All"}); %>

<h1>Loans</h1>
        <a href="/loan/add">Add New Loan</a>
        <br />
        <br />

        <table border="1">
            <tr><th>Loan Number</th><th>Borrower</th><th>Property</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><%= result[i].Number%></td>
                <td><%= result[i].name %></td>
                <td><%= result[i].address%></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/loan/edit/?loan_id=<%= result[i].loan_id %>'">Edit</button>
                    <form action="/loan/delete/" style="display:inline;">
                        <input type="hidden" name="loan_id" id="loan_id" value="<%= result[i].loan_id %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
        <br />
<a href="/"><< back</a>

<%- include("../includes/footer.ejs"); %>